.header{
    /* background: linear-gradient(to left top, #9ce6f3, #bceafe, #d9eeff, #eff3ff, #fcfcfc); */
    background-image: linear-gradient(to right, #f5f6f8, #c5d0dc, #92acbe, #5a8b9f, #0a6b7d);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_notifications{
    display: flex;
    object-fit: contain;
    padding: 6px;
}

.header_user{
    display: flex;
    object-fit: contain;
    padding: 6px;
}
.header_left{
    padding-left: 10px;
}
.header_icon{
    margin-right: 12px;
}


.sideicon{
    font-size: 20px;
}

.sideopen{
    transform:rotate(180deg);
    transition: all 0.1s;
}

.sideclose{
    transform:rotate(0deg);
    transition: all 0.1s;
}